* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --white: #fff;
  --black: #000;

  --primary: #ff8402;
  --primary-light: #ffa94f;
  
  --gray-500: #7a7a7a56;

  --warn:  #E53935;

  --green: #4cd62b;
  --green-dark: #3cac21;

  --box-shadow:0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

  // v2
  --background:#f2f3f9
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;

  background: var(--background);

}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Montserrat", sans-serif;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

button {
  cursor: pointer;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
